{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Most epic chess moments!</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/editStream/{{ stream.idVideo }}">
            <label class="label">Write new unique name</label>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" value="{{stream.name}}" autofocus="">
                </div>
            </div>
            <label class="label">Write new time stamps</label>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="result" value="{{ stream.result }}">
                </div>
            </div>

            <button class="button is-block is-warning is-large is-fullwidth">Save changes</button>
        </form>
    </div>
</div>
{% endblock %}